<ul>
    <li><a [routerLinkActive]="['active']" routerLink="/case1">Case 1</a></li>
    <li><a [routerLinkActive]="['active']" routerLink="/case2">Case 2</a></li>
    <li><a [routerLinkActive]="['active']" routerLink="/case3">Case 3</a></li>
    <li><a [routerLinkActive]="['active']" routerLink="/case4">Case 4</a></li>
    <li><a [routerLinkActive]="['active']" routerLink="/case5">Case 5</a></li>
    <li><a [routerLinkActive]="['active']" routerLink="/case6">Case 6</a></li>
  </ul>
<router-outlet></router-outlet>